body {
  background-color: rgb(26, 26, 26);
  height: auto;
  width: auto;
}

.hero {
  position: relative;
}
.hero-image {
  width: 100%;
  height: 100%;
}

.hero-text {
  position: absolute;
  top: 100px;
  left: 75px;
  color: whitesmoke;
  font-size: 75px;
}

.hero-text2 {
  color: whitesmoke;
  position: absolute;
  top: 275px;
  left: 75px;
  font-size: 35px;
}

#hero-button {
  position: absolute;
  top: 350px;
  left: 75px;
}
