body {
  background-color: rgb(26, 26, 26);
  height: auto;
  width: auto;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero {
  position: relative;
}
.hero-image {
  width: 100%;
  height: 100%;
}

.hero-text {
  position: absolute;
  top: 100px;
  left: 75px;
  color: whitesmoke;
  font-size: 7vw;
}

.hero-text2 {
  color: whitesmoke;
  position: absolute;
  bottom: 200px;
  left: 75px;
  font-size: 3vw;
}

#hero-button {
  position: absolute;
  bottom: 25%;
  left: 75px;
}

.footer {
  text-align: center;
  color: white;
  padding: 20px;
  background-color: #111111;
}

#pro-title {
  color: aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid aliceblue;
  margin-bottom: 20px;
}

.web {
  color: aliceblue;
}

.graphic {
  color: aliceblue;
}

.profile-photo {
  width: 500px;
}